/* ---> .6. recent activites section <--- */
#recentAcivities--container {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}
.squircleStyle--header {
  background-color: #222222;
  display: flex;
  position: absolute;
  top: -35px;
  width: fit-content;
  height: 35px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* box-shadow: 0px 3px 15px #0c0c0c; */
  margin: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.squircleStyle--header--icn {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.squircleStyle--header--title {
  display: flex;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  color: #979292;
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
  margin-right: 10px;
}
.capsuleCards--Container {
  background-color: #161616;
  backdrop-filter: brightness() opacity(70%) blur(8px);
  display: flex;
  /* ---> flex-direction: column; <--- */
  position: relative;
  flex-wrap: wrap;
  max-width: 1280px;
  width: fit-content;
  height: auto;
  border-radius: 20px;
  border: 1px solid #25252575;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-shadow: 0px 3px 15px #0c0c0caf;
  backdrop-filter: brightness() opacity(50%) blur(8px);
  background-image: linear-gradient(
    200deg,
    rgba(8, 8, 8, 0) 0%,
    #14141420 40%,
    #1d1c1c20 95%
  );
  gap: 25px;
  padding: 20px 0px 20px 0px;
}
.capsule--card {
  background-color: transparent;
  width: 400px;
  height: 110px;
  display: flex;
  position: relative;
  border-radius: 25px;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  gap: 10px;
}
.capsule--card:hover {
  background-color: #1f1f1f;
  scale: 105%;
  z-index: 200;
  transition: all 0.5s ease-in-out;
  .capsuleCard-img {
    opacity: 100%;
    cursor: pointer;
  }
}
.capsuleCard-foreground-grad {
  background-image: linear-gradient(
    176deg,
    #313131 0%,
    #2e2c2c20 28%,
    #25242465 75%,
    #171717 95%
  );
  height: 117px;
  width: 398px;
  display: flex;
  position: absolute;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0;
  z-index: 3;
}
.capsuleCard-background {
  margin: 0.05rem;
  height: 116px;
  width: 396px;
  position: absolute;
  border-radius: 20px;
  padding: 2px;
  z-index: 2;
  border: 1px solid #252525;
}
.capsuleCard-backdrop-grad {
  height: 120px;
  width: 400px;
  position: absolute;
  background: linear-gradient(to bottom right, #45434380, #4d4c4c10, #3c3a3a40);
  border-radius: 20px;
  z-index: 1;
}
.capsuleCard-img {
  width: 120px;
  height: 110px;
  border-radius: 20px;
  opacity: 50%;
  display: flex;
  position: relative;
  align-content: end;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.capsuleCard-txt {
  min-width: 200px;
  width: 240px;
  height: 80%;
  flex-direction: column;
  margin: 0;

  align-content: center;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.capsuleCard-txt p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: #999;
  margin: 0;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: #e2dfdf;
  margin: 0;
}
.capuslecard--link{
  text-decoration: none;
}
/* ---> favourites <---section */
#favourites--container {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}
#imgGlassDunes--Container {
  background-color: #161616;
  backdrop-filter: brightness() opacity(70%) blur(8px);
  display: flex;
  position: relative;
  width: 1270px;
  height: auto;
  border-radius: 20px;
  border: 1px solid #25252575;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-shadow: 0px 3px 15px #0c0c0caf;
  backdrop-filter: brightness() opacity(50%) blur(8px);
  background-image: linear-gradient(
    200deg,
    rgba(8, 8, 8, 0) 0%,
    #14141420 40%,
    #1d1c1c20 95%
  );
  gap: 20px;
  padding: 20px;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */  
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }    
}
.imgGlassDune {
  background-color: transparent;
  width: 220px;
  display: flex;
  position: relative;
  border-radius: 30px;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  gap: 10px;
}
.imgGlassDune:hover {
  background-color: #1f1f1f;
  scale: 101%;
  z-index: 200;
  transition: all 0.2s ease-in-out;
  .imgGlassDune-img {
    opacity: 100%;
    cursor: pointer;
  }
}
.imgGlassDune-foreground-grad {
  background-image: linear-gradient(
    176deg,
    #313131 0%,
    #2e2c2c20 28%,
    #25242465 75%,
    #171717 95%
  );
  height: 204px;
  width: 220px;
  display: flex;
  position: absolute;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0;
  z-index: 3;
}
.imgGlassDune-background {
  margin: 0.05rem;
  height: 200px;
  width: 215px;
  position: absolute;
  border-radius: 20px;
  padding: 2px;
  z-index: 2;
  border: 1px solid #252525;
}
.imgGlassDune-backdrop-grad {
  height: 200px;
  width: 200px;
  position: absolute;
  background: linear-gradient(to bottom right, #45434380, #4d4c4c10, #3c3a3a40);
  border-radius: 25px;
  z-index: 1;
}
.imgGlassDune-img {
  width: 190px;
  height: 190px;
  border-radius: 20px;
  display: flex;
  position: relative;
  align-content: end;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  z-index: 4;
}


/* \\\\\\\\\\ .7. MEDIA QUERIES //////*/

/* <<<<<<<<>>>>>>>>  desktop2 <<<<<<<<>>>>>>>> */
@media screen and (max-width: 1065px) {
  #intro--nd--myWorksCategories {
    background-color: transparent;
    max-width: 1280px;
    height: fit-content;
    padding: 20px 0px 20px 0px;
    margin-top: 10px;
    gap: 10px;
    background-image: none;
    box-shadow: none;
    border: none;
  }
  #intro-profile-continer {
    background-color: #0f0f0f55;
  width: 100%;
  max-width: 1280px;
  height: fit-content;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 15px #0c0c0caf;
  border-radius: 60px;
  border: 0.5px solid #5555550e;
  backdrop-filter: brightness() opacity(50%) blur(8px);
  background-image: linear-gradient(
    200deg,
    rgba(8, 8, 8, 0.185) 0%,
    #22222220 40%,
    #25252520 95%
  );
  border-radius: 30px;
  gap: 20px;
  padding: 50px 0px 50px 0px;
  overflow: hidden;
  }
  #myWork--categoryIcons--container{
    flex-direction: column;
    gap: 50px;
  }
  .categoryTriIcons--container {
    justify-content: center;
    gap:  150px;
  }
#myWork--category--container{
  margin-top: 70px;
}
.capsuleCards--Container {
    width: 700px;
    height: auto;
    
  }
}
/* <<<<<<<>>>>>>>> 7a Tablet  <<<<<<<>>>>>>>> */
@media screen and (max-width: 768px) {
  main {
    margin: 10px;
  }
  #myWork--categoryIcons--container{
    flex-direction: column;
    gap: 50px;
  }
  #intro--txt {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 90%;
    height: auto;
  }
  .categoryTriIcons--container {
    gap:  100px;
  }
  .category-icons-container {
    max-width: 462px;
  }
  .capsuleCards--Container {
    width: 800px;
    height: auto;
    
  }
}
/* <<<<<<<>>>>>>>> the inbetween mobile and tablet <<<<<<<<>>>>>>>> */
@media screen and (max-width: 615px) {
  .categoryTriIcons--container {
    gap: 50px;
  }
}
/* <<<<<<<<>>>>>>>> .7b. Mobile <<<<<<<<>>>>>>>> */
@media screen and (max-width: 480px) {
  main {
    margin: 10px;
  }
  #intro--nd--myWorksCategories{
    width: 100%;
    height: fit-content;
    padding: 20px 0px 20px 0px;
    margin-top: 20px;
    gap: 10px;
  }
  /* --- .7b2. intro profile  (MOBILE)  --- */
  #intro-profile-continer {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
    position: relative;
  }
  #intro--profile--img {
    max-width: 50%;
    width: 290px;
    height: auto;
  }
  #intro-txt {
    font-size: 0.5rem;
    line-height: 2rem;
    width: 80%;
    height: auto;
  }
/* ---> my works categoty section (MOBILE)  <--- */
 #myWork--category--container {
    gap: 10px;
  }
#myWork--categoryIcons--container{
    flex-direction: column;
    margin-top: 20px;
   gap: 0px;
  }
  .categoryTriIcons--container {
    justify-content: center;
    gap:  30px;
  }
  .category-icons-container {
    gap: 40px;
  }
  .myworkCategoryIcon {
    width: 80px;
  }
  .myworkCategoryIcon--backdrop {
    width: 80px;
    height: 80px;
    transform: translateY(-40px);
  }
  /* ---> .7b3. rectent activity section (MOBILE) <--- */
  .capsuleCards--container{
    width: 310px;
    flex-direction: column;
    margin: 20px;
  }
  .divider {
    width: 300px;
  }
  #capsuleCards--Containe{
    width: fit-content;
  }
  .squircleStyle--header{
    top: -35px;
    width: fit-content;
    height: 35px;
  }
  .squircleStyle--header--icn {
    width: 16px;
    height: autopx;
  }
  .squircleStyle--header--title {
    font-size: 0.8rem;
  }
  .capsule--card {
    background-color: transparent;
    width: 320px;
  }
  
  .capsuleCard-foreground-grad {
    width: 318px;
  }
  .capsuleCard-background {
    width: 316px;
  }
  .capsuleCard-backdrop-grad {
    width: 320px; 
  }
  .capsuleCard-img {
    transform: translate(5px);
    width: 116px;
  }
  .capsuleCard-txt {
    min-width: 100px;
    width: 200px;
    height: auto;
    transform: translate(8px);
  }
  .capsuleCards p {
    margin: 0;

  }
  h4 {
    margin-bottom: 8px;
  }
}
