#favourites--container {
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}
#imgGlassDunes--Container {
  background-color: #161616;
  backdrop-filter: brightness() opacity(70%) blur(8px);
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  border: 1px solid #25252575;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-shadow: 0px 3px 15px #0c0c0caf;
  backdrop-filter: brightness() opacity(50%) blur(8px);
  background-image: linear-gradient(
    200deg,
    rgba(8, 8, 8, 0) 0%,
    #14141420 40%,
    #1d1c1c20 95%
  );
  gap: 20px;
  padding: 20px;
  }
.imgGlassDune {
  background-color: transparent;
  width: 220px;
  display: flex;
  position: relative;
  border-radius: 30px;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  gap: 10px;
}
.imgGlassDune:hover {
  background-color: #1f1f1f;
  scale: 101%;
  z-index: 200;
  transition: all 0.2s ease-in-out;
  .imgGlassDune-img {
    opacity: 100%;
    cursor: pointer;
  }
}
.imgGlassDune-foreground-grad {
  background-image: linear-gradient(
    176deg,
    #313131 0%,
    #2e2c2c20 28%,
    #25242465 75%,
    #171717 95%
  );
  height: 204px;
  width: 220px;
  display: flex;
  position: absolute;
  border-radius: 15px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0;
  z-index: 3;
}
.imgGlassDune-background {
  margin: 0.05rem;
  height: 200px;
  width: 215px;
  position: absolute;
  border-radius: 20px;
  padding: 2px;
  z-index: 2;
  border: 1px solid #252525;
}
.imgGlassDune-backdrop-grad {
  height: 200px;
  width: 200px;
  position: absolute;
  background: linear-gradient(to bottom right, #45434380, #4d4c4c10, #3c3a3a40);
  border-radius: 25px;
  z-index: 1;
}
.imgGlassDune-img {
  width: 190px;
  height: 190px;
  border-radius: 20px;
  display: flex;
  position: relative;
  align-content: end;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  z-index: 4;
}