
.squircleStyle--header {
  background-color: #222222;
  display: flex;
  position: absolute;
  top: -35px;
  width: fit-content;
  height: 35px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* box-shadow: 0px 3px 15px #0c0c0c; */
  margin: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.squircleStyle--header--icn {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.squircleStyle--header--title {
  display: flex;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  color: #979292;
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
  margin-right: 10px;
}