/*>>>>>>>>>>>>>>>>>>>>> My works page <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



#profile--bio--container {
  background-color: #1f2023;
  width: 1100px;
  max-width: 1100px;
  height: 350px;
  position: relative;
  margin-top: 45px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 25px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 10px;
}
#profile--bio--container::before {
  content: "";
  width: 100%;
  height: 60%;
  display: flex;
  background-image: linear-gradient(#8ea2b410, #a0a7ad10, #e0eaf210);
  position: absolute;
  bottom: 0px;
  filter: blur(50px);
  border-top-left-radius: 600px;
  border-top-right-radius: 600px;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#profile--bio--img {
  margin-left: 20px;
  width: 30%;
  height: 250px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#profile-header-txt-btn {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}
#profile-bio {
  color: #cccccc;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  width: 95%;
  height: fit-content;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
#profile--btn--container {
  width: fit-content;
  height: auto;
  display: flex;
  position: relative;
  left: 0px;
  align-content: flex-start;
  align-items: center;
  gap: 50px;
  margin-top: 25px;
  padding: 0px;
}
#profile--bio--btn--downloadResume,
#profile--bio--btn--email,
#profile--bio--btn--linkedIn {
  color: #a7a9b1;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  background-color: #0d0c0d;
  width: 200px;
  height: auto;
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.ph-btn-icn {
  width: 1.2rem;
}
#profile--skills--nd--tools--section {
  margin-top: 30px;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#profile--experience--section {
  background-color: #1f2023;
  width: 1030px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px;
  overflow: hidden;
  padding: 40px;
  gap: 30px;
  margin-top: 40px;
}
.smokeyCard--squared {
  background-color: #1f2023;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px;
  overflow: hidden;
  padding: 40px;
  gap: 30px;
}
.smokeyCard--rectangled {
  background-color: #1f2023;
  width: 1200;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px;
  overflow: hidden;
}

.somkeyCard--header--imgNdTitle {
  width: 100%;
  height: fit-content;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.somkeyCard--header--container {
  width: fit-content;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.somkeyCard--header--icon {
  width: 2rem;
  display: flex;
}

.somkeyCard--header--title{
  color: #dddddd;
  display: flex;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  width: fit-content;
  height: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.smokeyCard--headNdBody--divider{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: 2px;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 0.06px;
}
.smokeyCard--headNdBody--dividerTopLine {
  background-color: #111111;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  margin: 0%;
}
.smokeyCard--headNdBody--dividerButtomLine {
  background-color: #333333;
  width: 100%;
  height: 1px;
  border-radius: 10px;
  margin: 0%;
}

.st-li {
  color: #797979;
  list-style: none;
}
.st-li::before {
  content: url(/icn/marker-tick-12.svg);
  font-size: 1rem;
  padding-right: 10px;
}
.smockyCard--list--container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.smockyCard--list--flexbox {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 0%;
  gap: 50px;
  
}

.smockyCard--list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #797979;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  width: fit-content;
  height: fit-content;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  margin: 0px;
  padding: 0%;
}


