


#quo--verse{
    color: aliceblue;
    background-color: #4C2E1A;
    font-size: 1.5rem;
    font-style: italic;
    width: 90%;
    margin-top: 2rem;
    padding: 20px;
    border-radius: 10px;
}
#brand--logo{
    width: 10%;
    height: auto;
    border-radius: 10px;
}


