footer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}
#footer--indicator--divider{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 4px;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1px;
}
#footer--indicator--divider--topline {
  background-color: #000;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  margin: 0%;
}
#footer--indicator--divider--buttomline {
  background-color: #333;
  width: 100%;
  height: 0.8px;
  border-radius: 10px;
  margin: 0%;
}
.footer-icons {
  width: 25px;
  position: relative;
}
.footer-icons:hover {
  scale: 120%;
  transition: 0.2s;
  filter: brightness(200%);
}
.footer-social-icons {
  width: fit-content;
  position: relative;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 50px;
  margin: 50px 0px 50px 0px;
}