
/*---------------- .4b. my works section-------------------------- */

#myWorks-container {
  display: flex;
  position: relative;
  width: 90%;
  flex-wrap: wrap;
  flex-basis: auto;
  /* max-width: 1039px; */
  height: fit-content;
  border: 0.01px solid #252525;
  border-radius: 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 130px;
  padding: 20px 0px;
  gap: 50px;
}

#myWorks-Cards-container {
  display: flex;
  width: fit-content;
  height: auto;
  position: relative;
  width: 100%;
  
  align-items: center;
  align-content: center;
  justify-content: center;
  
  row-gap: 25px;
  column-gap: 25px;
  margin: 0%;
}
#myWorks-header-container {
  background-color: #222222;
  display: flex;
  position: absolute;
  top: -35px;
  width: 200px;
  height: 35px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 20px;
}
#myWorks-header-icn {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
#myWorks-header-txt {
  display: flex;
  position: relative;
  letter-spacing: 0.1rem;
  color: #979292;
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
  margin-right: 10px;
}

#myWorks-container a {
  display: flex;
  position: relative;
  color: #979292;
  text-decoration: none;
  font-weight: 100;
  margin: 0;
}

.my-works-card {
  border-radius: 30px;
  border: -0.5px solid #32343848;
  background-color: #1a1a1aa9;
  width: 290px;
  height: 440px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 15px 20px #00000097;
  position: relative;
}
.my-works-card:hover {
  scale: 105%;
  transition: 0.5s;
  .card-edge-blur-effect {
    border: 0.5rem solid #7d7beebe;
  }
}

.card-content-container {
  color: #5c5d62;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  padding: 10px;
  gap: 20px;
  z-index: 2;
}
.myworkCard--img--nd--textContent--container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  margin: 0%;
  padding: 0%;
  gap: 0px;
}
.card--textContent--container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  margin: 0%;
  padding: 0%;
  gap: 0px;
}
.myWorkCard--category--container{
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.myWorkCard--category--name{
  background-color: #222;
  display: flex;
  position: relative;
  width: fit-content;
  font-size: 0.7rem;
  margin: 0%;
  padding: 5px 10px;
  border-radius: 60px;
}
.card-edge-blur-effect {
  border: 0.2rem solid #484849be;
  border-radius: 30px;
  width: 98%;
  height: 98%;
  margin: 0%;
  padding: 0%;
  filter: blur(0.5rem);
  position: relative;
  z-index: 1;
}

.card-img {
  width: 100%;
  display: flex;
  position: relative;
  height: 200px;
  margin: 0;
  border-radius: 20px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.card-header-txt {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: #b9c4d3;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 0;
}
.card-description-txt {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3rem;
  color: #96a1b2;
  display: flex;
  padding: 8px;
  margin: 0;
  text-align: center;
  justify-content: center;
}
.myWorkCards--link {
  color: #999;
  width: 100%;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}
.myWorkCards--link:hover {
  color: #6351ba;
}
.explore-button {
  display: flex;
  position: relative;
  background-color: #0d0c0d;
  border: 2px solid #3032357e;
  width: 95%;
  height: 50px;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 1px px #00000097;
  padding: 0;
}
.explore-button:hover {
  background-color: #000000;
}

.card-btn-edge-blur-effect {
  container-type: size;
  border: 0.001rem solid #696c7564;
  border-radius: 40px;
  width: 100%;
  height: 88%;
  margin: 0px;
  padding: 0px;
  filter: blur(0.3rem);
  z-index: 3;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.border-effect {
  border: 0.2px solid #fcfdff84;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 30px;
}
.explore-txt {
  width: 100%;
  color: #a7a9b1;
  text-align: center;
  position: absolute;
  z-index: 102;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 0.8rem;
  margin: auto;
}
.explore-txt:hover {
  color: #7d7beebe;
  cursor: pointer;
}


/*=========  .7. MEDIA QUERIES ================= */

/* -------------  desktop2 --------------------------*/

@media screen and (max-width: 1358px) {
}
/* -------------  desktop 3 --------------------------*/
@media screen and (max-width: 1112px) {
}
/* -------------  desktop mini --------------------------*/
@media screen and (max-width: 909px) {
}
/* --------------- .7b. Tablet---------------- */
@media screen and (max-width: 768px) {
  /* --------------- .7a3. my works container (Tablet)---------------- */
  #myWorks-container {
    flex-direction: column;
  }
  
}
/* <<<<<<<<<<<<<<<<the inbetween mobile and tablet>>>>>>>>>>>>>>>>>>>> */
@media screen and (max-width: 644px) {
 
}
/*--------------- .7b. Phone---------------------- */

@media screen and (max-width: 480px) {
  /* -------------- .7b3. my works section (phone)---------------- */
  #myWorks-container {
    flex-direction: column;
    margin: 100px 0px 100px 0px;
  }
  .my-works-inner-container {
    flex-direction: column;
    gap: 40px;
    margin: 10px;
    align-content: center;
    justify-content: center;
  }

  .my-works-card {
    flex-direction: column;
  }
  .my-works-card-more {
    display: none;
  }

  #myWorks-header-container {
    background-color: #222222;
    display: flex;
    position: absolute;
    top: -35px;
    width: fit-content;
    height: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  #myWorks-Cards-container {
    flex-direction: column;
  }

}